<h1>My Recipes</h1>

<p>This are the list of your recipes.</p>

<p *ngIf="!recipes"><em>Loading...</em></p>

<table class='table' *ngIf="recipes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created By</th>
      <th>Creation Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.recipeName }}</td>
      <td>{{ recipe.description }}</td>
      <td>{{ recipe.creator }}</td>
      <td>{{ recipe.creationDate }}</td>
    </tr>
  </tbody>
</table>
